*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #2dc7ed 24%, #538bf0 100%); 
}

.title {
    align-self: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.8px;
}

.container {
    width: 45%;
    min-width: 450px;
    background-color: #ffffff;
    padding: 40px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 50%;
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

.score {
    margin-bottom: 50px;
    text-align: right;
}

.weapons {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.weapons button {
    background-color: #28f7b2;
    color: black;
    border: none;
    font-size: 50px;
    height: 100px;
    width: 100px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.50);
    transform: scale(1);
    transform-style: preserve-3d; /* adiciona perspectiva 3d, para que o elemento nao fique achatada no plano */
    transition: transform .9s; /* adiciona efeito de movimento ao flip do card */
}

.weapons button:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.details {
    margin-top: 30px;
    text-align: center;
}

.score, .details {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

#result {
    width: 180px;
   border-radius: 5px;
   padding: 10px 0;
   margin: 20px auto;
   font-weight: 600;
   letter-spacing: 0.7px;
}

#user_choice,
#comp_choice {
    font-weight: 600;
    margin-bottom: 10px;
}

.socialmidia {
    background:#2847f7;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.socialmidia a {
    list-style: none;
    font-size: 45px;
    color: white;
    display: inline-block;
    margin: 5px 0;
    padding: 10px;
    transform: scale(0.6);
}

.socialmidia a:hover {
    transform: translateX(-2px)
}

@media only screen and (max-width: 768px) {
    .container {
        width: 45%;
        min-width: 350px;
    }
    .weapons button {
        font-size: 30px;
        height: 70px;
        width: 70px;
    }
    .socialmidia {
        position: absolute;
        flex-direction: row;
        top: 95%;
     
        border-top-right-radius: 15px;
        transform: translateY(-50%);
    }
    
}